{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Luigi's Pizza :: Cart</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Luigi's Pizza. The best pizza in town for the last 50 years.">
        <link rel="stylesheet" href="{% static 'css/luigis_site.css' %}">
        <!--<script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
        </script>-->
    </head>
    <body>
        <header>
            <h1><a href="http://127.0.0.1:8000/">Luigi's Pizza</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/">Home</a></li>
                <li><a href="http://127.0.0.1:8000/menu/">Menu</a></li>
                <li><a href="http://127.0.0.1:8000/cart/">Cart</a></li>
                <li><a href="http://127.0.0.1:8000/checkout/">Checkout</a></li>
            </ul>
        </nav>
        <div id="wrapper">
            <div id="newyork"></div>
            <main>
                <form id="buttons" class="back" action="http://127.0.0.1:8000/menu/">
                    <button type="submit">Back</button>
                </form>
                <form id="buttons" class="continue" action="http://127.0.0.1:8000/checkout/">
                    <button type="submit">Continue</button>
                </form>
                <br><br>
            </main>
            <footer>
                <br>
                Copyright &copy; 50 Years Luigi's Pizza<br>
                    <a href="mailto:luigispizza.com">luigispizza.com</a>
                <div>
                    <script>
                        $(document).ready(function() {
                        $("footer div").html("This page was last motified on:"+document.lastModified);
                        });
                    </script>
                </div>
            </footer>
        </div>
    </body>
</html>