{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Luigi's Pizza :: Cart</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Luigi's Pizza. The best pizza in town for the last 50 years.">
        <link rel="stylesheet" href="{% static 'css/luigis_site.css' %}">
        <!--<script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
        </script>-->
    </head>
    <body>
        <header>
            <h1><a href="http://127.0.0.1:8000/">Luigi's Pizza</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/">Home</a></li>
                <li><a href="http://127.0.0.1:8000/menu/">Menu</a></li>
                <li><a href="http://127.0.0.1:8000/cart/">Cart</a></li>
                <li><a href="http://127.0.0.1:8000/checkout/">Checkout</a></li>
            </ul>
        </nav>
        <div id="wrapper">
            <div id="newyork"></div>
            <main>
                <form action="http://127.0.0.1:8000/checkout/" id="checkoutForm" name="checkoutForm">
                    <table>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                        {% for cartItem in cartItems %}
                            <tr>
                                <td>{{ cartItem.name }}</td>
                                <td>${{ cartItem.price }}</td>
                                <td>{{ cartItem.quantity }}</td>
                                <td><button type="button" onclick='var qtyField = "qty_{{ cartItem.id }}";document.all("checkoutForm").action="/cart/";document.all(qtyField).value="";document.all("checkoutForm").submit();'>Remove</button></td>
                                </form>
                            </tr>
                            <input type="hidden" name="qty_{{ cartItem.id }}" value="{{ cartItem.quantity }}" />
                        {% endfor %}
                        <input type="hidden" name="subtotal" value="{{ subtotal }}" />
                        <input type="hidden" name="total" value="{{ total }}" />
                        <input type="hidden" name="tax" value="{{ tax }}" />
                        <tr class="buttonRow">
                            <!--<td class="buttonRow">
                                <form action="http://127.0.0.1:8000/menu/" class="backBtn">
                                    <button class="backBtn" type="submit">Back</button>
                                </form>
                            </td>-->
                            <td class="buttonRow"></td>
                            <td class="buttonRow"></td>
                            <td class="buttonRow"></td>
                            <td class="buttonRow">
                                <button class="continueBtn" type="submit">Continue</button>
                            </td>
                        </tr>
                    </table>
                </form>
                <br><br>
            </main>
            <footer>
                <br>
                Copyright &copy; 50 Years Luigi's Pizza<br>
                    <a href="mailto:luigispizza.com">luigispizza.com</a>
                <div>
                    <script>
                        $(document).ready(function() {
                            $("footer div").html("This page was last motified on:"+document.lastModified);
                        });
                    </script>
                </div>
            </footer>
        </div>
    </body>
</html>